/* Tela servico */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.menu {
    -fx-background-color: #0A0F24; /* Azul Marinho */
    -fx-text-fill: #FFFFFF; /* Branco para texto */
    -fx-alignment: center; /* Centraliza o texto */
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 16px;
}

.menu_container {
    -fx-background-color: #1C2242; /* Cinza-Escuro */
    -fx-text-fill: #FFFFFF; /* Branco para texto */
    -fx-alignment: center; /* Centraliza o texto */
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 16px;
    -fx-border-radius: 20px; /* Adiciona bordas arredondadas */
    -fx-background-radius: 20px; /* Adiciona bordas arredondadas */
}

.menu_container_boleto {
    -fx-background-color: #1C2242; /* Azul Marinho */
    -fx-text-fill: #FFFFFF; /* Branco para texto */
    -fx-alignment: center; /* Centraliza o texto */
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 16px;
    -fx-border-radius: 20px; /* Adiciona bordas arredondadas */
    -fx-background-radius: 20px; /* Adiciona bordas arredondadas */
}

.botao_boleto {
    -fx-background-color: #2e346b; /* Roxo Vibrante */
    -fx-text-fill: #FFFFFF; /* Branco */
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 14px;
    -fx-padding: 8px 16px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-alignment: center; /* Centraliza o texto */
}
.text {
    -fx-fill: white;
}

.botao_boleto:hover {
    -fx-background-color: #4A90E2; /* Azul Claro ao passar o mouse */
}

.botao_boleto:pressed {
    -fx-background-color: #16cbb9; /* Cinza Claro ao pressionar */
    -fx-text-fill:#1C2242;
}
